* {
  margin: 0;
}

body {

  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  background-color: red;
  display: flex;
}

.nav {
  align-items: center;
  background: #007df9;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;

  /* background-color: blue; */
  width: 100%;


}

.logo {
  height: 116.75px;
  margin-bottom: 19.25px;
  margin-left: 113px;
  margin-top: 14px;
  width: 250px;
}

.divFav {
  align-items: center;

  /* background-color: red; */

  /* height: 50px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  margin-right: 214px;
  margin-top: 50px;

}

.heart {
  height: 36px;
  width: 36px;
}

.link {
   color: black;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  height: 33px;
  line-height: 33px;
  text-decoration: none;


}
